@font-face {
	font-family: Rubik;
	src: url(Rubik-Regular.ttf);
}

@font-face {
	font-family: Inclusive;
    src: url(InclusiveSans-Regular.ttf);
}

h1 {
    font-family: 'Rubik';
    font-weight: 900;
    margin-top: 20px;
    font-size: 56px;
}

#intro {
    font-family: 'Inclusive';
	font-weight: bold;
    font-size: 24px;
    text-align: left;
    margin-left: 180px;
    margin-right: 180px;
}

body {
    background-color: white;
    text-align: center;
}

.page {
    width: 850px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
    justify-content: center;
    align-items: center;
}

.map-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.vis-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 20px;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}