@font-face {
    font-family: Rubik;
    src: url(Rubik-Regular.ttf);
}

@font-face {
	font-family: Inclusive;
    src: url(InclusiveSans-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(Inter-VariableFont_slnt,wght.ttf);
}

h1 {
    font-family: 'Inclusive';
    font-weight: 900;
    margin-top: 20px;
    font-size: 48px;
}

#intro {
    font-family: 'Inter';
	font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin-left: 160px;
    margin-right: 160px;
}

#paragraph-text {
    font-family: 'Inter';
    font-size: 14px;
    text-align: left;
    line-height: 1.4;
    color: #333;
    margin-left: 160px;
    margin-right: 160px;
}

#left-column-text {
    font-family: 'Inter';
    font-size: 14px;
    text-align: left;
    line-height: 1.4;
    color: #333;
    margin-left: 160px;
    margin-right: 50px;
}

#right-column-text {
    font-family: 'Inter';
    font-size: 14px;
    text-align: left;
    line-height: 1.4;
    color: #333;
    margin-left: 50px;
    margin-right: 160px;
}

#top-padded-left-column-text {
    font-family: 'Inter';
    font-size: 14px;
    text-align: left;
    line-height: 1.4;
    color: #333;
    margin-left: 160px;
    margin-right: 50px;
    padding-top: 50px;
}

#top-padded-right-column-text {
    font-family: 'Inter';
    font-size: 14px;
    text-align: left;
    line-height: 1.4;
    color: #333;
    margin-left: 50px;
    margin-right: 160px;
    padding-top: 50px;
}

#inner-column-text {
    font-family: 'Inter';
    font-size: 14px;
    text-align: left;
    line-height: 1.4;
    color: #333;
    margin-right: 50px;
}

body {
    background-color: white;
    text-align: center;
}

.page {
    width: 850px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
    justify-content: center;
    align-items: center;
}

.map-container {
    font-family: 'Inter';
    width: 100%;
    align-items: center;
}

.vis-container {
    width: 100%;
    justify-content: left;
    align-items: left;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}